.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: "Roboto Mono", monospace;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #172121;
    &__description {
        font-size: 8px;
        margin: 8px 16px;
        color: #f1ffe7;
    }
    @media (max-width: 768px) {
        &__description {
            font-size: 6px;
        }
    }
  }