.studies {
    background-color: #f1ffe7;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &__photo {
        border-radius: 16px;
        width: 300px;
        height: 432px;
        margin: 32px;
    }
    &__title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        color: #000;
        margin: 32px 0 36px 0;
        font-weight: normal;
    }
    &__paragraph {
        max-width: 340px;
        min-width: 300px;
        font-size: 16px;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}