.who {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1ffe7;
    max-width: 624px;
    border-radius: 16px;
    padding: 32px;
  
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-top: 256px;
    }
  
    &__photo {
        float: left;
        border-radius: 64px;
        width: 168px;
        height: 232px;
        margin-right: 32px;
        flex-shrink: 0;
    }
  
    &__header {
        margin-bottom: 24px;
    }
  
    &__title {
        color: #000000;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        margin: 0;
    }
  
    &__subtitle {
        color: #5a5a66;
        font-family: "Iceberg", cursive;
        font-size: 18px;
        margin: 0;
    }
  
    &__paragraph {
        min-width: 360px;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin-right: 32px;
    }
  
    &__link {
        color: #134611;
        font-family: "Roboto Mono", monospace;
        text-decoration: none;
    }
  }