@import "~normalize.css";
@import "modules/repositories.scss";
@import "modules/footer.scss";
@import "modules/hamburger.scss";
@import "modules/site-title.scss";
@import "modules/who.scss";
@import "modules/site-header.scss";
@import "modules/navigation.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceberg&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #172121;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: block;
  }
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.strong {
  font-weight: normal;
  color: #ff4000;
}